

body{
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #2E3436;
}

h1 {
    color: #FFD7AF;
}

.container{
    width: 100%;
    max-width: 380px;
    padding: 0 15px;
}

.entry{
    display :flex;
    align-items: center;
    margin-bottom: 6px;
}

.btn{
    display: block;
    margin-top: 18px;
    padding-top: 24px;
    background: #06989A;
    text-decoration: none;
    font-size: 16pt;
    font-weight: 700;
    color: #1C1C1C;
    border-radius: 6px;
    min-width: 150px;
    text-align: center;
    min-height: 48px;
}

.btn:hover{
    background: #FCE94F;
}

.close{
    background: #D7AFAF;
    color: #1C1C1C;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    margin-top: 16px;
    margin-left: 8px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover{
    background: #D78787 ;
}

.newwin {
    display: flex;
    margin-bottom: 12px;
}

.cmdinput {
    flex: 1;
    padding: 6px 10px;
    border-radius: 6px;
    border: solid 1px;
    border-color: #06989A;
    font-size: 14pt;
    margin-right: 8px;
    background: #1C1C1C;
    color: #FFD7AF;
    outline: none;
}

.cmdinput:focus {
    outline: none;
    box-shadow: none;
}

.cmdbtn {
    padding: 6px 12px;
    font-size: 16pt;
    background: #06989A;
    color: #1C1C1C;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cmdbtn:hover {
    background: #FCE94F;
}