@media (max-width: 600px) {
    .btn {
        font-size: 18pt;
        padding: 12px 16px;
    }

    .close {
        padding: 10px 14px;
        font-size: 18pt;
    }

    h1 {
        font-size: 24pt;
    }
}

body{
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #2E3436;
}

h1 {
    color: #FFD7AF;
}

.container{
    width: 100%;
    max-width: 380px;
    padding: 0 15px;
}

.entry{
    display :flex;
    align-items: center;
    margin-bottom: 6px;
}

.btn{
    display: block;
    margin: 4px 0;
    padding: 6px 12px;
    background: #06989A;
    text-decoration: none;
    font-size: 14pt;
    color: #1C1C1C;
    border-radius: 6px;
    min-width: 150px;
    text-align: center;
    min-height: 32px;
}

.btn:hover{
    background: #FCE94F;
}

.close{
    background: #D78787;
    color: #1C1C1C;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    margin-left: 8px;
    cursor: pointer;
}


