

body{
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #2E3436;
}

h1 {
    color: #FFD7AF;
}

.container{
    width: 100%;
    max-width: 380px;
    padding: 0 15px;
}

.entry{
    display :flex;
    align-items: center;
    margin-bottom: 6px;
}

.btn{
    display: block;
    margin-top: 18px;
    padding-top: 24px;
    background: #06989A;
    text-decoration: none;
    font-size: 16pt;
    font-weight: 700;
    color: #1C1C1C;
    border-radius: 6px;
    min-width: 150px;
    text-align: center;
    min-height: 48px;
}

.btn:hover{
    background: #FCE94F;
}

.close{
    background: #D78787;
    color: #1C1C1C;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    margin-top: 16px;
    margin-left: 8px;
    font-size: 20px;
    cursor: pointer;
}


